---
import type { CollectionEntry } from "astro:content";
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";

interface Props {
	posts: CollectionEntry<"posts">[];
	startIndex?: number;
	loading?: "lazy" | "eager";
}

const { posts, startIndex = 0, loading = "lazy" } = Astro.props;

// 使用更合理的延迟间隔，避免过长的动画延迟
const interval = 30;
---
<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {posts.map((entry: CollectionEntry<"posts">, index) => (
        <PostCard
                entry={entry}
                title={entry.data.title}
                tags={entry.data.tags}
                category={entry.data.category}
                published={entry.data.published}
                updated={entry.data.updated}
                url={getPostUrlBySlug(entry.slug)}
                image={entry.data.image}
                description={entry.data.description}
                draft={entry.data.draft}
                pinned={entry.data.pinned}
                class:list="onload-animation"
                style={`animation-delay: calc(var(--content-delay) + ${(startIndex + index) * interval}ms);`}
                loading={loading}
        ></PostCard>
    ))}
</div>